.header {
	color: white;
	align-items: center;
 
    justify-content: center;
    align-items: center;
	text-align: center;
    height: 100%;
}
body {
	position: relative;
	background-color: #13284c;
	color: white;
}
* {
	font-family: sans-serif;

}
img.Bull {
	width: 100px;
	height: auto;
	float: right;
	aspect-ratio: 0;
}
form{
	color:white;
}

a:visited{
	color:red;
}
a{
	color:green;
}
.links {
	background-color: #b1102b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.links li {
    list-style: none;
    margin: 0 10px; /* Adjust margin as needed */
}

.links li a {
    text-decoration: none;
    color: white;
    font-size: 18px; /* Adjust font size as needed */
}