table {
	text-align: center;
	border-collapse: collapse;
	border-style: solid;
	background-color: slateblue;
}
tr {
	border-collapse: collapse;
	border-style: solid;
}
td {
	border-collapse: collapse;
	border-style: solid;
}
h1{
	text-align:center;
}
h2 {
	font-family: sans-serif;
}
* {
	font-family: sans-serif;
	
	color: white;
}
body {
	list-style-position: inside;
	font-family: sans-serif;
	background-color: burlywood;
	display: inline;
	justify-content: center;
	align-items: center;
}
.references {
	
	background-color: red;

}
.semesters {
	
	background-color: olive;
	
}
.Hobbies {
	
	background-color: brown;
	
}
.paragraph{
	text-align:center;
}
.intro{
	text-align:center;
}
li {
	text-align: left;
}


/*px means pixel*/