
.pages {
	color: white;
	font-size: 10px;
	background-color: white;
	width: 52%;
	
}
* {
	font-family: sans-serif;
	/*background-color: dodgerblue;*/

}
li{
	font: size 10px;
}
.pages li{
	display:inline;
	padding-right: 2%;
}
.header {
	font-size: 10px;
	color: white;
	background-color: #b1102b;
}
body {
	position: relative;
	background-color: #13284c;
}

p{
	background-color:white;
}
.p1{
	column-count: 1;
	align-items: center;
}
.p2{
	column-count: 2;
}
.p4{
	column-count: 2;
}

img.Bull {
	width: 100px;
	height: auto;
	float: right;
}
img{
	width: 250px;
	height:auto;
	padding: 1px;
}