
.pages {
	color: white;
	font-size: 10px;
	background-color: white;
	width: 40%;
}
* {
	font-family: sans-serif;
	/*background-color: dodgerblue;*/

}
.header {
	font-size: 10px;
	color: white;
	background-color: #b1102b;
}
body {
	background-color: #13284c;
}

p{
	background-color:white;
}
img.Bull {
	width: 100px;
	height: auto;
	float: right;
}
img{
	width:300px;
	height:auto;
	float:inline-start;
}