.scoreTab{
    border-collapse: collapse;
    padding:10px;
    border:1px solid white;
    color: white;
    margin: 0 auto;
}
.scoreTab tr{
    border:1px solid white;
}
.scoreTab td{
    border:1px solid white;
   text-align: center;
}

.table2{
    border-collapse: collapse;
    color: white;
    padding:10px;
    margin: 0 auto;
}
.table2 tr{
    border:1px solid white;
}
.table2 td{
    border:1px solid white;
   text-align: center;
}
body{
    text-align: center;
    background-image: url("wp7601179-retro-80s-arcade-wallpapers.jpg");
    display: inline;
	justify-content: center;
	align-items: center;
    
}
.table{
    margin: 0 auto;
    align-items: center;
    display: inline;
	justify-content: center;
    text-align: center;
}
