body{
	background-color: aquamarine;
}

@keyframes test	 {
	0%   {left:0px; top:0px;}
	100%  {left:100%;}
  }
  .box{
	background-color: white;
	height: 25px;
	border-radius: 50px;
	width: 75px;
	border: 15px solid white;
	animation-name: test;
	animation-duration: 20s;

	position: relative;
	animation-iteration-count: infinite;
}